
li {
    padding-left: 5px;
}
.form-group{
    width: 800px;
    padding-left: 30px;
}
.form-control{
    width: 300px !important;
    margin-top: 10px;
    margin-left: 20px;
}
.panel-footer{
    padding-left: 120px;
    width: 300px;
}
.card-body{
    padding-left: 30px;
}

.main{
    padding-top:40px;

}
.card{
    width: 600px;
    margin-left: 300px
}
a{
    padding-left: 70px;
}